#operations-panel {
  @apply flex
		gap-2
		w-full
		justify-center
		bg-blue-100
		dark:bg-blue-900
		rounded-lg
		p-2;
}

#operations-panel #accept-mask,
#operations-panel #flag-for-masking {
  @apply text-white
		bg-blue-700
		hover:bg-blue-800;
}

#operations-panel #reject-mask {
  @apply text-white 
	bg-red-700 
	hover:bg-red-800;
}

#operations-panel #skip-mask,
#operations-panel #nonmaskable {
  @apply text-white
	bg-slate-500
	hover:bg-red-800;
}

#operations-panel #mark-good {
  @apply text-white bg-green-700 hover:bg-green-800;
}

#operations-panel #mark-bad {
  @apply text-white bg-red-700 hover:bg-red-800;
}

#operations-panel #mark-blank,
#operations-panel #mark-scout,
#operations-panel #mark-other {
  @apply text-white bg-yellow-700 hover:bg-yellow-800;
}
