#main {
    @apply
        w-full
        h-full
        grid
        /* rounded-lg */
        gap-2
        p-2
        overflow-hidden
    ;
}

.side-panel {
    @apply
        flex
        flex-col
        gap-2
        bg-blue-100 dark:bg-blue-900
        p-4
        rounded-lg
        overflow-hidden
        flex-1
        whitespace-nowrap
        w-72
    ;
}

html.windows .side-panel .wrapper {
    @apply pl-[1rem] mx-[-1rem];
}

/* make the track & thumb transparent by default */
.side-panel .wrapper {
    @apply overflow-y-scroll gap-3 flex flex-col rounded-lg;
    scrollbar-color: transparent transparent;
}

.side-panel .wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.side-panel .wrapper::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
    transition: background-color 0.2s, background 0.2s;
}

/* on hover–show both track & thumb */
.side-panel .wrapper:hover {
    /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
}

.side-panel .wrapper:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.side-panel .wrapper:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
}

@-moz-document url-prefix() {
    html.windows .side-panel .wrapper {
        padding-right: 1rem;
    }
}

.side-panel h2#title {
    @apply 
        /* border-2 */
        bg-transparent
        dark:bg-blue-950/100
        /* border-blue-950 */
        p-2
        rounded-lg
        font-bold
        text-center
    ; 
}

#main #middle-panel {
    @apply
        grid
        grid-rows-[1fr,auto]
        gap-2
    ;
}

#main #left-panel, #main #right-panel {
    @apply
        flex
        flex-col
        overflow-hidden
        /* rounded-lg */
        gap-2
        w-72
    ;
    /* 
        Animating the side-panels breaks the resize behavior of the viewports.
        transition: width 0.3s ease-in-out;
        will-change: width;
    */
}

#main #left-panel.collapsed,
#main #right-panel.collapsed {
    width: 0;
    pointer-events: none;
}

/* #main #filler-panel {
    @apply
        flex
        flex-1
        p-[0.1rem]
        overflow-hidden
    ;
} */

.viewer {
    @apply
    border-4
    p-2
    rounded-lg
    border-blue-500
}

.viewport {
    @apply
        w-full
        h-full
        rounded-lg
        overflow-hidden
    ;
}

/* all three panels */
.main--3col {
    @apply
        grid-cols-[auto,1fr,auto]
    ;
}

/* left + middle */
.main--2col-left {
    @apply
        grid-cols-[auto,1fr]
    ;
}

/* middle + right */
.main--2col-right {
    @apply
        grid-cols-[1fr,auto]
    ;
}

/* only middle */
.main--1col {
    @apply
        grid-cols-[1fr]
    ;
}